/* 
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

 */

 * {
  margin: 0px;
  padding: 0px;

 }


.logo {
  width: 100px;
  height: auto;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;

}
  
.navigation-bar-container {
  display: flex;
  justify-content: space-between;
}

